*{
    box-sizing: border-box;
}
.video_container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 4rem 4rem;
}
.home_heading{
    font-size: 40px;
    font-weight: 600;
}
.home_para{
    font-size: 17px;
    color: #717171;  
}
.video_info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.doted_border{
    height: 500px;
    width: 480px;
    border: 2px dashed black;
}