.footer_container{
    width: 100%;
    background: linear-gradient(101.09deg, #004643 0%, #007A74 100%);
}
.flex_container{
    height: 45vh;
    padding: 0 4rem;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.footer_logo{
    color: #FFFFFF;
    font-size: 38px;
    font-family: 'Abhaya Libre', serif;
}
.footer_para{
    font-size: 18px;
    font-weight: 300;
}
.footer_sect-1{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.footer_headings{
    font-size: 23px;
    font-weight: 400;
}
.section{
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
}
.copy_right{
    font-weight: 400;
}
.contact_footer{
    height: 10vh;
    padding: 0 4rem;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer_icons{
    display: flex;
    gap: 1rem;
}
@media screen and (max-width: 1070px) {
    .footer_logo{
        font-size: 28px;
    }
    .footer_para{
        font-size: 14px;
    }
    .footer_headings{
        font-size: 18px;
    }
    .section{
        gap: 10px;
        font-size: 10px;
    }
    .footer_icons{
        gap: 10px;
    }
    .copy_right{
        font-size: 10px;
        font-weight: 400;
    }
    
 @media screen and (max-width: 780px) {
    .footer_logo{
        font-size: 25px;
    }
    .footer_para{
        font-size: 10px;
    }
    .footer_sect-1{
        width: 100%;
        text-align: center;
    }
}

} 