.Navbar {
    height: 85px;
    width: 100%;
    padding: 0px 4rem;
    background: linear-gradient(101.09deg, #004643 0%, #007A74 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Nav_heading {
    color: #FFFFFF;
    font-size: 38px;
    font-family: 'Abhaya Libre', serif;
}

.Registation_part {
    display: flex;
    align-items: center;
    gap: 2rem;
    color: #FFFFFF;
}

.border_right {
    height: 22px;
    border: 1px solid #FFFFFF;
}

.search_box {
    border: 1px solid #FFFFFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    padding: 5px 4px
}

.input_tag input {
    font-size: 18px;
    width: 53px;
    color: #FFFFFF;
    border: none;
    background: transparent;
    outline: none;
}

.input_icon {
    font-size: 20px;
}

.Links {
    color: #717171;
    width: 100%;
    height: 50px;
    padding: 0px 4rem;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 2rem;
    background: #FFFFFF;
    border: 0.5px solid #ECECEC;
}

@media screen and (max-width: 1070px) {
    .Navbar {
        height: 55px;
    }

    .Registation_part {
        font-size: 12px;
        gap: 1rem;
    }

    .border_right {
        height: 15px;
    }

    .Nav_heading {
        font-size: 25px;
    }

    .Links {
        font-size: 10px;
        height: 35px;
        gap: 1rem;
    }

    .search_box {
        gap: 7px;
    }

    .input_tag input {
        font-size: 15px;
        width: 43px;
    }

    .input_icon {
        font-size: 13px;
    }
}

@media screen and (max-width: 780px) {
    .Nav_heading {
        font-size: 20px;
    }
    .Links {
        display: none;
    }

    .Registation_part {
        display: none;
    }
    .Navbar {
        padding: 0px 2rem;
    }
}