.light_button button{
    padding: 10px 33px;
    border: none;
    border-radius: 2px;
    background: #ffffff;
    box-shadow: 1px 1px 6px black;
    color: #004643;
    font-weight: bold;
}
@media screen and (max-width: 1070px) {
    .light_button button{
        padding: 9px 28px;
    }
}
@media screen and (max-width: 780px) {
    .light_button button{
        padding: 5px 10px;
    }
}